.header-container {
    --border-bottom-width: 1px;
    --border-color: rgba(206, 206, 251, 0.11);
    --border-left-width: 1px;
    --border-right-width: 1px;
    --border-style: solid;
    --border-top-width: 1px;
    backdrop-filter: blur(25px);
    background: linear-gradient(270deg, rgba(59, 59, 59, 0.2) 0%, rgba(0, 0, 0, 0.14) 100%);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 2px 0px inset;
    width: 100%;
    opacity: 1;
}

.mark-point {
    z-index: 1;
    background-color: #1532ed33;
    border-radius: 1000px;
    flex: none;
    width: 1px;
    height: 1px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 1px 240px 129px #1c46ff59;
}

.signal-indicator-content {
    border-color: #1c1c21;
    background: linear-gradient(180deg, #0000 42.2311%, #070708 100%);
}

.signal-indicator-icon {
    border-color: #232329;
    background-color: #131316;
}

.gain_instant_access {
    background-color: #003bff;
    box-shadow: rgba(255, 255, 255, 0.28) 4px 4px 18px 0px inset, rgba(27, 80, 255, 0.5) 0px 0.48175px 2.40875px -0.833333px, rgba(27, 80, 255, 0.5) 0px 1.83083px 9.15413px -1.66667px, rgba(27, 80, 255, 0.5) 0px 8px 40px -2.5px, rgba(37, 87, 255, 0.5) 0px -0.48175px 2.40875px -0.833333px, rgba(37, 87, 255, 0.5) 0px -1.83083px 9.15413px -1.66667px, rgba(37, 87, 255, 0.5) 0px -8px 40px -2.5px;
    color: white;
    text-align: center;
    padding-top: 12px;
    font-weight: 600;
}

.our-tracker {
    border-width: 1px;
    border-style: solid;
    border-color: rgba(234, 234, 251, 0.1);
    background-color: rgba(234, 234, 251, 0.04);
    border-radius: 999px;
    box-shadow: inset 0 -4px 12px rgba(234, 234, 251, 0.1);
    opacity: 1;
    align-items: center;
    padding: 4px 6px 4px 4px;
    display: flex;
    gap: 4px;
}

.our-tracker1 {
    border-width: 1px;
    border-style: solid;
    border-color: rgba(234, 234, 251, 0.1);
    background-color: rgba(234, 234, 251, 0.04);
    border-radius: 999px;
    box-shadow: inset 0 -4px 12px rgba(234, 234, 251, 0.1);
    opacity: 1;
    align-items: center;
    padding: 0 4px;
    display: flex;
    font-size: 14px;
    color: #cbcbe8bf;
}

.dominate-card {
    box-shadow: rgba(255, 230, 219, 0.12) 0px -1px 0px 0px;
    filter: brightness(1.2);
    mask: linear-gradient(rgb(0, 0, 0) 0%, rgb(0, 0, 0) 81.989%, rgba(0, 0, 0, 0.5) 90.991%, rgba(0, 0, 0, 0) 100%);
}

.results-section {
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 4%, rgb(0, 0, 0) 96%, rgba(0, 0, 0, 0) 100%);
}

.main-bacground {
    background-image: url("/background.gif");
}